<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Maidhkshatria</title>

    <!-- CSS  -->



    <link href="css/bootstrap.css" rel="stylesheet" />

       <link href="css/swarnkar.css" rel="stylesheet" />

     <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    


    <script src="lib/angular.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="lib/jquery-1.11.1.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="js/App.js"></script>

</head>
<body>

    <!-- Pre Loader -->


    


    <div class="login" ng-app="userApp" data-ng-controller="LoginController">

        <div class="center">
            <h3>Swarnkar</h3>
        </div>

        <div class="col-md-12">


            <div id="LoginModel" ng-if="IsLoginFormOn==true">

                <div ng-show="IsErrorMessageOn" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <p>{{ CurrentUser.UserName }}</p>
                </div>
                <div class="input-group">
                    <span style="border-bottom:transparent;" class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input style="border-bottom:transparent;" ng-model="LogUser.UserName" id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="login-password" type="password" class="form-control" ng-model="LogUser.PassWord" name="password" placeholder="password">
                </div>


                <button ng-disabled="LogUser.UserName=='' || LogUser.PassWord==''" class="btn btn-login" type="button" ng-click="LoginUser(LogUser)" >Sign Me In</button>


            </div> 







                <div class="bottommenu">

                    <div class="row">
                        <div style="border-right:1px solid #808080;" class="col-md-6 col-xs-6">
                            <a class="btn" ng-click="ToggleLoginRegister(true,false)"><i class="fa fa-search"></i>&nbsp;Login</a>
                        </div>

                        <div class="col-md-6 col-xs-6">
                            <a class="btn" ng-click="ToggleLoginRegister(false,true)"><i class="fa fa-briefcase"></i>&nbsp;Register</a>
                        </div>
                    </div>


                </div>

                 <div id="userModel" ng-if="IsRegisterFormOn==true" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Add User</h4>
                            <h4 class="modal-title" id="myModalLabel" ng-show="editMode">Edit User</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="adduserform">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.Name" class="form-control" id="title" placeholder="Your Name" required title="Enter your name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" data-ng-model="user.Email" class="form-control" id="title" placeholder="Your Email" required title="Enter your email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.Address" class="form-control" id="title" placeholder="Your Address" required title="Enter your address" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">ContactNo</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.ContactNo" class="form-control" id="title" placeholder="Your ContactNo" required title="Enter your contactno" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">User Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.UserName" class="form-control" id="title" placeholder="Your User Name" required title="Enter your user name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" data-ng-model="user.Password" class="form-control" id="title" placeholder="Your Password" required title="Enter your password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">City</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.City" class="form-control" id="title" placeholder="Your City" required title="Enter your city" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Caste</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.Caste" class="form-control" id="title" placeholder="Your caste" required title="Enter your caste" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <span data-ng-hide="editMode">
                                            <input type="submit" value="Add" ng-disabled="adduserform.$invalid" data-ng-click="add()" class="btn btn-primary" />
                                        </span>
                                        <span data-ng-show="editMode">
                                            <input type="submit" value="Update" ng-disabled="adduserform.$invalid" data-ng-click="update()" class="btn btn-primary" />
                                        </span>
                                        <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>




    <!--  Scripts-->


</body>
</html>
